{% layout "plantilla_base.liquid" %}
{% block contenido %}
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card shadow-lg">
                <div class="card-header text-dark text-center py-3">
                    <h3 class="m-0">Sistema Apoyo para Personas con Movilidad Reducida</h3>
                </div>
                <div class="card-body p-4">
                    <p>Bienvenido a tu sistema de apoyo de confianza ;).</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Cuadro inferior derecho -->
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card shadow-lg">
                <div class="card-header text-dark text-center py-3">
                    <h3 class="m-0">Qué es?</h3>
                </div>
                <div class="card-body p-4">
                    <p>Nos enfocamos en abordar los desafíos de movilidad que enfrentan las personas con discapacidades y quienes cuidan de niños pequeños en entornos urbanos. Proporciona información sobre la accesibilidad de la ciudad, rutas de transporte público accesibles y la disponibilidad de servicios. Su objetivo es mejorar la calidad de vida y la independencia de estos grupos al facilitar la toma de decisiones informadas.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}