/* Estilos personalizados para el contenedor principal */
.main-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos personalizados para el botón de carga */
#uploadCsvBtn {
    background-color: #ffc107;
    color: #fff;
    border: none;
}

#uploadCsvBtn:hover {
    background-color: #e0a800;
}

.nav-link{
    color: black
}

.collapse{
    justify-content: right;
}
  